<div class="titulo-pagina">
  <h1>Nossos livros</h1>
</div>
<section class="box-main">
  <div class="livro-content">
    <img class="livros" src="../../assets/livro1.png" width="250px" />
    <div>
      <h1 class="titulo">O segredo nas sombras</h1>
      <p class="sinopse">
        Nico é amaldiçoado a se transformar pela noite todos os dias enquanto é
        preso a uma eternidade de tormento por ter aborrecido sua madrasta
        Perséfone. Ela alegou que ele era egoísta e incapaz de amar e só iria
        liberta-lo da maldição quando ele finalmente abrisse o coração. Nico por
        sua vez, não tem nenhum interesse e nem vontade de se aproximar de
        alguém. Desde a morte de sua irmã Bianca ele se fechou para o mundo,
        mesmo depois de conhecer Hazel e amá-la como sua irmã ele soube que não
        era e jamais seria da mesma forma. O amor foge de Nico e ele faz o
        mesmo. Mas talvez, depois de alguns anos isso possa mudar, e Nico tenha
        a chance de finalmente quebrar a maldição.
      </p>
    </div>
  </div>

  <div class="livro-content">
    <img class="livros" src="../../assets/livro2.png" width="250px" />
    <div>
      <h1 class="titulo">A nevoa da floresta</h1>
      <p class="sinopse">
        Envolver-se em tramas perigosas é uma especialidade do casal de
        aventureiros Tommy e Tuppence Beresford. Desta vez, durante uma visita a
        um asilo de senhoras, Tuppence vê um quadro que retrata uma casa que não
        lhe parece totalmente estranha. Lá, também conhece uma anciã que lhe
        fala de um menino morto escondido em uma chaminé. Pouco tempo depois, a
        velha senhora abandona o asilo sem dar qualquer explicação. Disposta a
        descobrir o paradeiro dela, Tuppence decide encontrar a casa misteriosa
        e acaba deparando-se com um assassino perverso.
      </p>
    </div>
  </div>

  <div class="livro-content">
    <img class="livros" src="../../assets/livro3.png" width="250px" />
    <div>
      <h1 class="titulo">Harry Potter e o cálice de fogo</h1>
      <p class="sinopse">
        Harry retorna para seu quarto ano na Escola de Magia e Bruxaria de
        Hogwarts, junto com os seus amigos Ron e Hermione. Desta vez, acontece
        um torneio entre as três maiores escola de magia, com um participante
        selecionado de cada escola, pelo Cálice de Fogo. O nome de Harry
        aparece, mesmo não tendo se inscrito, e ele precisa competir.
      </p>
    </div>
  </div>

  <div class="livro-content">
    <img class="livros" src="../../assets/livro4.png" width="250px" />
    <div>
      <h1 class="titulo">Extraordinario</h1>
      <p class="sinopse">
        Auggie Pullman é um garoto que nasceu com uma deformidade facial e
        precisou passar por 27 cirurgias plásticas. Aos 10 anos, ele finalmente
        começa a frequentar uma escola regular, como qualquer outra criança,
        pela primeira vez. No quinto ano, ele precisa se esforçar para conseguir
        se encaixar em sua nova realidade.
      </p>
    </div>
  </div>

  <div class="livro-content">
    <img class="livros" src="../../assets/livro5.png" width="250px" />
    <div>
      <h1 class="titulo">Esplendor da honra</h1>
      <p class="sinopse">
        Na corte feudal inglesa, a dócil Lady Madelyne sofre com as
        excentricidades cruéis do irmão, o Barão Louddon. No entanto, durante a
        vingança contra um crime sórdido, o Barão Duncan de Wexton – o Lobo –
        comanda seus soldados contra Louddon. Como prêmio, ele captura Madelyne.
        Todavia, quando Lobo pousa o olhar sobre a orgulhosa beldade, é tomado
        por um sentimento que jamais sentira e jura protegê-la com sua própria
        vida. Assim, em seu castelo de pedras, ele prova ser honrado. Agora que
        a paixão entre ambos se tornou inevitável, será que eles darão uma
        chance ao destino e se entregarão de corpo e alma a esse amor
        arrebatador e selvagem?
      </p>
    </div>
  </div>

  <div class="livro-content">
    <img class="livros" src="../../assets/livro6.png" width="250px" />
    <div>
      <h1 class="titulo">O pequeno principe</h1>
      <p class="sinopse">
        O Pequeno Príncipe é uma obra literária do escritor francês Antoine de
        Saint-Exupéry, que conta a história da amizade entre um homem frustrado
        por ninguém compreender os seus desenhos, com um principezinho que
        habita um asteroide no espaço.
      </p>
    </div>
  </div>

  <div class="livro-content">
    <img class="livros" src="../../assets/livro7.png" width="250px" />
    <div>
      <h1 class="titulo">The call of Cthulhu</h1>
      <p class="sinopse">
        The Call of Cthulhu (O Chamado de Cthulhu em português) é um conto de
        horror do escritor norte-americano H. P. Lovecraft, contando a
        investigação sobre um ser extraterrestre dos "antigos", que na mitologia
        lovecraftiana seriam criaturas cósmicas, vindas à Terra antes desta
        abrigar a vida.
      </p>
    </div>
  </div>

  <div class="livro-content">
    <img class="livros" src="../../assets/livro8.png" width="250px" />
    <div>
      <h1 class="titulo">O Hobbit</h1>
      <p class="sinopse">
        Como a maioria dos hobbits, Bilbo Bolseiro leva uma vida tranquila até o
        dia em que recebe uma missão do mago Gandalf. Acompanhado por um grupo
        de anões, ele parte numa jornada até a Montanha Solitária para libertar
        o Reino de Erebor do dragão Smaug.
      </p>
    </div>
  </div>

  <div class="livro-content">
    <img class="livros" src="../../assets/livro9.png" width="250px" />
    <div>
      <h1 class="titulo">O livro dos dragões</h1>
      <p class="sinopse">
        Na imaginação de todos nós há uma princesa e um príncipe e entre eles um
        dragão. Mas, aparentemente, os dragões nunca encarnaram a maldade
        perversa dos verdadeiros vilões. São obstáculos à jornada do herói nos
        contos de fadas, mas também aparecem como aliados. E, neste caso, passam
        a revestir-se de qualidades com uma força excepcional - o dom de voar, a
        capacidade de expelir fogo e a beleza fulgurante das criaturas híbridas
        que acumulam os poderes que nas outras só existem isolados. Foi para
        reavivar o prazer de encontrar tal criatura que Marcos Maffei organizou
        e traduziu as histórias aqui reunidas. São sete narrativas. A
        Antiguidade clássica, pela imaginação infinita do poeta romano Ovídio,
        comparece com a história de Perseu. O mundo medieval e cristianizado
        está representado pela história de São Jorge, que aparecerá em várias
        outras como o combatente mais frequente das ameaças de dragões. As
        outras cinco são modernas. Nelas veremos os dragões sem obrigação,
        preguiçosos, pacifistas e vaidosos, contaminados pelo modo de ser dos
        homens. Ora filosóficos e lunáticos, como 'O dragão relutante' - de
        Keneth Branagh - ora fantásticos, como os dragões de todos os tamanhos
        que infestam as casas das pessoas em 'Os salvadores da pátria' - de
        Edith Nesbit.
      </p>
    </div>
  </div>

  <div class="livro-content">
    <img class="livros" src="../../assets/livro10.png" width="250px" />
    <div>
      <h1 class="titulo">Novelas nada exemplares</h1>
      <p class="sinopse">
        Um moço em Curitiba só tem um remédio - afogar-se. Como não há mar, um
        tonel de rum serve. Mas nem todos encontram coragem ou lucidez para o
        tonel de rum. Há então o noivado, ser noivo de alguma coisa ou pessoa,
        evitar a garoa das noites, encontrar uma sala com sofá e o retrato de um
        parente morto suspenso na parede, tomar o café que lhe traz a futura
        sogra, e, aos domingos, há o ajantarado pegajoso da província - a noiva
        bordará, costurará, fará qualquer coisa com as mãos, talvez uma carícia.
        As mulheres estarão sempre costurando, solteiras, casadas, viúvas,
        velhas ou moças terão os dedos picadinhos de agulha, até que um dia o
        ovo de costura rolará de suas mãos e a cabeça tombará para sempre - não,
        nada é para sempre, ainda com o ovo de costura caído no chão o pescoço é
        alvo útil para a navalhada.
      </p>
    </div>
  </div>

  <div class="livro-content">
    <img class="livros" src="../../assets/livro11.png" width="250px" />
    <div>
      <h1 class="titulo">P.S eu te amo</h1>
      <p class="sinopse">
        Conforme seu aniversário de 30 anos se aproxima, Holly descobre um
        pacote de cartas nas quais Gerry, gentilmente, a guia em sua nova vida
        sem ele. Com ajuda de seus amigos e de sua família barulhenta e
        carinhosa, Holly consegue rir, chorar, cantar, dançar e ser mais
        corajosa do que nunca.
      </p>
    </div>
  </div>
</section>
