<div class="sobre">
  <h1>Como nós surgimos:</h1>
  <p>
    Um grupo de amantes por literatura decidiu criar em 1930 uma biblioteca para
    sua cidade, no intuito de compartilhar seu amor e por livros e a informação
    que trazem para todos, começaram a juntar todos os tipos de livros que
    achavam e fizeram uma exposição em uma garagem de um dos participantes do
    grupo, depois de semanas juntando livros e pessoas aparecendo para ler,
    conseguiram dinheiro para alugar uma loja, onde apelidaram de "BilioWorld"
    após o novo local ser inaugurado, "BiblioWorld" se tornou um sucesso entre
    as crianças com livros infantis, entre os jovens com livros de suspence, os
    adultos com biografias, e idosos com livros que os lembravam de seu passado.
  </p>
  <p>
    Depois do sucesso que o projeto se tornou, cada um dos fundadores se mudaram
    para uma cidade diferente, onde criaram mais filiais, o que acarretou em um
    aumento gigantesco na popularidade, tempo se passou, no ano de 2007
    decidiram criar um website para que possamos ler seus livros favoritos mesmo
    sem ele em suas mãos, e aqui estamos nós, "BiblioNotes" sempre mostrando
    como a literatura muda as pessoas, seja criativamene, psicologicamente, ou,
    no nosso caso, a vida inteira.
  </p>
</div>
<div class="imagem">
  <img src="../../../assets/pluto-365.png" alt="" />
</div>
